.allText
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.allText .textbox
{
    color: black;
    font-size: x-large;
    width: 70%;
    height: 100%;
    padding: 5vh;
    border: 5px solid black;
    border-radius: 1vh;
    margin-top: 100px;
}
