body
{
    background-image: url('homeImgs/home.png');
    background-size: 187vh;
}

.compName
{
    display: flex;
    flex-wrap: wrap;

    margin-top: 30vh;
    justify-content: center;

    font-size: 5vh;
}

/* Ishani Sadagopan Jeyaram Malismitha */